.action-btn .update-btn,
.action-btn .cancel-btn,
.action-btn .delete-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  background: var(--main-btn-color);
  transition: var(--transition);
}

.action-btn .update-btn:hover {
  background: var(--update-btn-color);
  box-shadow: var(--shadow-hover);
}

.action-btn .cancel-btn:hover {
  background-color: var(--cancel-btn-color);
  box-shadow: var(--shadow-hover);
}

.action-btn .delete-btn:hover {
  background-color: var(--delete-btn-color);
  box-shadow: var(--shadow-hover);
}

.action-btn .update-btn:hover svg,
.action-btn .cancel-btn:hover svg,
.action-btn .delete-btn:hover svg {
  fill: var(--btn-hover-text-color);
}

.action-btn .update-btn:hover .btn-text,
.action-btn .cancel-btn:hover .btn-text,
.action-btn .delete-btn:hover .btn-text {
  color: var(--btn-hover-text-color);
}
