.timing-container {
  grid-column: 1 / span all;
  grid-row: 2 / span all;
  display: flex;
  flex-direction: column;
}

.timing-container .timings {
  position: relative;
  color: var(--second-text-color);
}

.timing-container .timings .timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 10px;
}

.timing-container .timings .timeline .time {
  display: block;
  padding-left: 15px;
  width: 100%;
  color: var(--second-text-color);
}
