.top-grid {
  grid-column: 1 / -1;
}

.navbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
}

.navbar .navbar-today {
  margin-left: auto;
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.navbar .navbar-today .button-today {
  text-transform: uppercase;
  font-size: 12px;
  background-color: transparent;
  padding: 8px 14px;
  border-radius: 5px;
  border: 1px solid grey;
}

.navbar .navbar-today .button-today:hover {
  color: rgb(113, 113, 116);
}

.navbar .navbar-date-bar {
  font-size: 18px;
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 35%;
}

.navbar .navbar-date-bar .button-backward,
.navbar .navbar-date-bar .button-forward {
  border: none;
  background: transparent;
  padding: 10px;
  font-size: 14px;
  margin: 0 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navbar-date-bar .navbar-date {
  margin-left: 20px;
  text-align: left;
  background-color: ;
}

.navbar .navbar-links {
  margin-left: auto;
}

.navbar .navbar-links .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .navbar-links .menu li {
  list-style: none;
  padding: 20px 14px;
}

.navbar .navbar-links .menu .menu-link {
  text-decoration: none;
  font-size: 12px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  padding: 8px 14px;
}

.navbar .navbar-links .menu .menu-link:hover {
  color: rgb(113, 113, 116);
}

.navbar .navbar-links .menu li .active {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px 5px;
}