.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0 10px;
  border-bottom: 1px solid grey;
}

.navbar .navbar-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar .navbar-header .header-calc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding-right: 10px;
  text-transform: uppercase;
}

.navbar .navbar-header .header-today {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.navbar .navbar-today {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  width: 100%;
}

.navbar .navbar-today .today-btn {
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 14px;
  border-radius: 5px;
  border: 1px solid grey;
  background: transparent;
  transition: var(--transition);
}

.navbar .navbar-today .today-btn:hover {
  box-shadow: var(--shadow-hover);
  color: var(--second-text-color);
}

.navbar .navbar-date-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 18px;
}

.navbar .navbar-date-bar .backward-btn,
.navbar .navbar-date-bar .forward-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0 2px 0;
  font-size: 14px;
  background: transparent;
  transition: var(--transition);
}

.navbar .navbar-date-bar .backward-btn:hover,
.navbar .navbar-date-bar .forward-btn:hover {
  box-shadow: var(--shadow-hover);
}

.navbar .navbar-date-bar .backward-btn:hover svg,
.navbar .navbar-date-bar .forward-btn:hover svg {
  fill: var(--second-text-color);
}

.navbar .navbar-date-bar .navbar-date {
  margin-left: 20px;
  text-align: left;
}

.navbar .navbar-menu {
  /* margin-left: auto; */
  width: 100%;
}

.navbar .navbar-menu .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .navbar-menu .links li {
  list-style: none;
  padding-right: 15px;
}

.navbar .navbar-menu .links .link {
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 14px;
  transition: var(--transition);
}

.navbar .navbar-menu .links .link:hover {
  border-radius: 5px;
  box-shadow: var(--shadow-hover);
  color: var(--second-text-color);
}

.navbar .navbar-menu .links li .active {
  border-radius: 5px;
  border: 1px solid grey;
}
