.side-grid {
    grid-column: 1 / 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 130px repeat(4, 200px)
}

.form {
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    grid-row: 2 / span 1;
}

.input-box{
display: flex;
flex-direction: column;
padding: 10px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

.input-box:first-of-type input{
    border: none;
    border-bottom: 1px solid grey;
}

.input:active {
    outline: 2px solid rgb(89, 250, 156);
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}