.timing-container {
    background-color: rgb(230, 230, 232);
    grid-column: 1 / 2;
    grid-row: 2 / -1;
}

.timings {
    border: 2px solid rgb(255, 64, 0);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.time {
    border-bottom: 1px solid rgb(129, 167, 3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
