.timing-container {
  grid-column: 1 / span all;
  grid-row: 2 / span all;
  display: flex;
  flex-direction: column;
}

.time {
  width: 100%;
  position: relative;
  height: 50px;
}

.time > span {
  display: block;
  padding-left: 15px;
  width: 100%;
}

.time-line {
  position: absolute;
  top: 20%;
  left: 6%;
  width: 100%;
  border: 1px solid rgb(213, 212, 212);
}
