.weekdays {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
.weekdays .day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
 .weekdays .day-name {
    font-size: 15px;
    width: 120px;
    text-align: center;
  }
  
.weekdays .month-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
    background-color: rgb(223, 223, 245);
    border-radius: 50px;
    padding: 15px;
    font-size: 16px;
    width: 40px;
    height: 40px;
  }
  