.container-week {
    display: grid;
    grid-template-columns: 120px repeat(7, 1fr);
    grid-template-rows: 150px repeat(24, 50px);
    background-color: rgb(238, 221, 221);
  }
  
  .weekdays-container {
    border: 5px solid rgb(244, 7, 177);
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: flex;
  }
  
.weekdays-container .weekdays {
    border: 4px solid rgb(58, 242, 58);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
.weekdays-container .day {
    /* padding: 3rem 4rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid black; */
  }
  
 .weekdays-container .day-name {
    font-size: 18px;
    width: 120px;
    text-align: center;
  }
  
.weekdays-container .month-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
    background-color: rgb(223, 223, 245);
    border-radius: 50px;
    padding: 15px;
    font-size: 18px;
    width: 50px;
    height: 50px;
  }
  