* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

#root {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 90px auto;
}

.side-grid {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  display: grid;
  grid-template-rows: 85px 320px 320px repeat(3, auto);
}

.flex {
  display: flex;
  flex-direction: column;
}