.action-btn .add-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
  width: auto;
  cursor: pointer;
  background: var(--main-btn-color);
  transition: var(--transition);
}

.action-btn .add-btn:hover {
  background: var(--add-btn-color);
  box-shadow: var(--shadow-hover);
}

.action-btn .add-btn:hover svg {
  fill: var(--btn-hover-text-color);
}

.action-btn .add-btn:hover .btn-text {
  color: var(--btn-hover-text-color);
}